@if (showMenu) {
    <p-card
        @showMenu
        class="fixed bottom-4 right-4 z-[99] max-h-[300px] w-[250px]"
    >
        <ng-template pTemplate="header">
            <div class="flex items-center justify-between px-4 pt-4">
                @if (mode === 'menu') {
                    <div class="text-lg">Mode</div>
                    <p-button
                        icon="pi pi-times"
                        size="small"
                        severity="danger"
                        [raised]="true"
                        (onClick)="mode = 'menu'; showMenu = false"
                    />
                } @else {
                    <div class="text-lg">
                        {{ mode === 'words' ? 'Words' : 'Bonus words' }}
                    </div>
                    <div class="flex gap-1">
                        <p-button
                            icon="pi pi-arrow-left"
                            size="small"
                            severity="secondary"
                            [raised]="true"
                            (onClick)="mode = 'menu'"
                        />
                        <p-button
                            icon="pi pi-times"
                            size="small"
                            severity="danger"
                            [raised]="true"
                            (onClick)="mode = 'menu'; showMenu = false"
                        />
                    </div>
                }
            </div>
        </ng-template>
        @if (mode === 'menu') {
            <div
                @showMode
                class="flex h-[84px] flex-col overflow-hidden"
            >
                <p-button
                    styleClass="text-sm w-full mb-2"
                    severity="success"
                    [raised]="true"
                    (onClick)="mode = 'words'"
                    label="Words"
                />
                <p-button
                    styleClass="text-sm w-full"
                    severity="success"
                    [raised]="true"
                    (onClick)="mode = 'optionalWords'"
                    label="Bonus words"
                />
            </div>
        } @else {
            <div
                @showWords
                class="h-[200px]"
            >
                <p-scrollPanel [style]="{ height: '100%', width: '100%' }">
                    @for (word of mode === 'words' ? words : optionalWords; track $index) {
                        <div>
                            {{ word }}
                        </div>
                    }
                </p-scrollPanel>
            </div>
        }
    </p-card>
} @else {
    <div
        @showMenu
        class="fixed bottom-4 right-4 z-[99]"
    >
        <p-button
            icon="pi pi-search"
            severity="help"
            size="large"
            [raised]="true"
            [rounded]="true"
            (onClick)="showMenu = true"
        />
    </div>
}
